@import 'tailwindcss';
@import '@fontsource/titillium-web';
@import '@fontsource/titillium-web/300.css';
@import '@fontsource/titillium-web/400.css';

@theme {
	/* https://colorhunt.co/palette/222831393e46948979dfd0b8 */
	--color-primary: #393e46;
	--color-secondary: #dfd0b8;
}

body {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-family: 'Titillium Web', sans-serif;
}
